
.largeViewContainer{
    padding: 10vh 10vw 10vh 10vw;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content:space-evenly;
    align-content: center;
    grid-row-gap: 10vh;
}

.smallViewContainer{
    padding: 10vh 10vw 10vh 10vw;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    justify-content:space-evenly;
    align-content: center;
    grid-row-gap: 10vh;
}

.routeBlock{
    font-size: 1.5em;
    font-weight: 500;
    background: rgba(23, 3, 112, 0.8);
    color: white;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
}


.largeViewBlock{
    width:25vw;
    height: 20vh;
}

.smallViewBlock{
    width:60vw;
    height: 20vh;
}

.routeBlock:hover{
    transform: scale(1.2);
}
