<div [class.largeViewContainer]="!isScreenXs" [class.smallViewContainer]="isScreenXs">

    <div class="routeBlock" routerLink='/aboutCorona' [class.largeViewBlock]="!isScreenXs" [class.smallViewBlock]="isScreenXs">
        About Covid-19
        <mat-icon>info</mat-icon>
    </div>

    <div class="routeBlock" routerLink='/globalStatistics' routerLinkActive="active" [class.largeViewBlock]="!isScreenXs" [class.smallViewBlock]="isScreenXs">
        Global Statistics
        <mat-icon>public</mat-icon>
    </div>

    <div class="routeBlock" routerLink='/graphs' [class.largeViewBlock]="!isScreenXs" [class.smallViewBlock]="isScreenXs">
        Q & A
        <mat-icon>question_answer</mat-icon>
    </div>


    <div class="routeBlock" routerLink='/myAccount' [class.largeViewBlock]="!isScreenXs" [class.smallViewBlock]="isScreenXs">
        My Account
        <mat-icon>account_circle</mat-icon>
    </div>
</div>