<div [class.largeViewContainer]="!isScreenXs"  [class.smallViewContainer]="isScreenXs">
    <div class="routeBlock" [class.largeViewBlock]="!isScreenXs"  [class.smallViewBlock]="isScreenXs">
        About Covid-19
        <mat-icon>info</mat-icon>
    </div>
    <div class="routeBlock" [class.largeViewBlock]="!isScreenXs"  [class.smallViewBlock]="isScreenXs">
        Global Statistics  
        <mat-icon>public</mat-icon>
    </div>
    <div class="routeBlock" [class.largeViewBlock]="!isScreenXs"  [class.smallViewBlock]="isScreenXs">
        Graphs
        <mat-icon>bar_chart</mat-icon>
    </div>
    <div class="routeBlock" [class.largeViewBlock]="!isScreenXs"  [class.smallViewBlock]="isScreenXs">
        My Account
        <mat-icon>account_circle</mat-icon>
    </div>
</div>