mat-toolbar{
    background: rgb(1, 3, 121);
    color: white;
    font-family: sans-serif;
}

.toRight{
    text-align: right;
}

.submitButton{
    text-align: center;
    background: rgb(25, 1, 112);
    color: white;
    border-radius: 1em;
    width: 8em;
    height: 3em;
}

.link{
    color: rgb(1, 1, 209);
    text-decoration: underline;
}
.link:hover{
    color:rgb(73, 73, 255)
}

.disabledButton{
    background: rgba(25,1,112,0.3);
}
