.centered{
    text-align: center;
}
.headline{
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1em;
}
.pnfImage{
    size: 5em;
    height: 50vh;
    width: auto;
}

.gridContainer12{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-content: center;
    column-gap: 5vw;
    margin-top: 2em;
    margin-bottom: 3em;
}

.gridContainer21{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-content: space-evenly;
    align-content: center;
    row-gap: 5vh;
    margin-top: 2em;
    margin-bottom: 3em;
}

.smallCoronaDataContainer{
    height: 45vh;
    width: 35vw;
    background: rgba(200, 200, 200 , 0.5);
    border-radius: 2em;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.largeCoronaDataContainer{
    height: 40vh;
    width: 90vw;
    background: rgba(200, 200, 200 , 0.5);
    border-radius: 2em;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.coronaDataheadline{
    margin-bottom: 5%;
    font-style: oblique;
    text-decoration: underline;    
}
.coronaData{
    height: 1.5em;
    margin-bottom: 2%;
    background: rgb(250, 250, 250);
    border-radius: 1em;
    font-size: 1.25em;
}