.centered{
    text-align: center;
}
.headline{
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1em;
}
.pnfImage{
    size: 5em;
    height: 50vh;
    width: auto;
}

.qaContainer{
    width: 80vw;
    background: rgba(200, 200, 200 , 0.5);
}
.container{
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
    margin-bottom: 2em;
}
