<div *ngIf="_appService.getIsLoading()" style=" position: absolute; width: 100%; height:100vh;z-index: 99;">
<mat-spinner style="top: 50%; left: 50%;"></mat-spinner></div>

<app-my-toolbar [isScreenXs]="isScreenXs"></app-my-toolbar>
<router-outlet></router-outlet>
<div class="staySafe">
    <div>
        <span style="font-size: 1.75em; font-weight: 900;">Stay Safe </span>
        <img src="../assets/data/heart.png" class="heartImg">
    </div>
    <div>
        All Rights Reserved
        <mat-icon>&copy;</mat-icon>
    </div>

</div>