.centered{
    text-align: center;
}
.headline{
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1em;
}
.pnfImage{
    size: 5em;
    height: 50vh;
    width: auto;
}

.qaContainer{
    width: 80vw;
}
.container{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    text-align: center;
    margin-bottom: 2em;
}


#registrationForm{
    width: 40vw;
    margin-left: 20vw;
}

.submitButton{
    text-align: center;
    background: rgb(25, 1, 112);
    color: white;
    border-radius: 1em;
    width: 8em;
    height: 3em;
}

.requiredInput{
    color:rgb(255, 0, 0)
}

.disabledButton{
    background: rgba(25,1,112,0.3);
}

label{
    margin-right: 1em;
}
.profileImage{
    height: 20vh;
    width: 20vh;
    margin-bottom: 1em;
}
