<div *ngIf="isLoggedIn ; then myAccount; else visitorNotification">

</div>


<ng-template #visitorNotification>
    <div class="centered">
        <div class="headline">Sorry, this content is only for logged in users</div>
        <img class="pnfImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSP3iShpQljrYD01FlGxg6ur8ZuJpzzZb-2Q&usqp=CAU">
    </div>
</ng-template>
<ng-template #myAccount>
    <div class="container">
        <div class="qaContainer centered">
            <h1 class="headline">My Account</h1>
            <img class="profileImage" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg">
            <div style="text-align: start;">
                <div>
                    <label>First Name: </label>
                    <input disabled type="text" value="{{userDetails.firstName}}">
                </div>
                <div>
                    <label>Last Name: </label>
                    <input disabled type="text" value="{{userDetails.lastName}}">
                </div>
                <div>
                    <label>Date of Birth: </label>
                    <input disabled type="text" value="{{userDetails.dateOfBirth}}">
                </div>
                <div>
                    <label>Email: </label>
                    <input disabled type="text" value="{{userDetails._id}}">
                </div>
                <div>
                    <label>Password: </label>
                    <input disabled type="password" value="........">
                </div>
            </div>
        </div>
    </div>

</ng-template>